.icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-text-dark);
  border-radius: 2px;
}

.checkbox:checked + .icon {
  background-image: url(../../img/icons/icon-check.svg);
  background-color: var(--color-highlight);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-color: var(--color-highlight);
  background-origin: border-box;
}

.checkbox:focus-within + .icon {
  border-color: var(--color-highlight);
}

.form-policy {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  line-height: 1.71px;
}

.policy-link {
  display: inline-block;
  color: var(--color-highlight);
}
