.social-icons {
  display: inline-flex;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}
.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-text-alt);
  transition: color var(--animation), background-color var(--animation);

  &--dark {
    background: rgba(255, 255, 255, 0.1);
  }
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--color-text-alt);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--color-highlight);
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--color-icon);

  &--light {
    fill: var(--color-background-light);
  }
}
